body {
  overflow-x: hidden;
}


.nav {
  width: 1676.887px;
  height: 100px;
  border-radius: 100px;
  background: rgba(30, 188, 195, 0.79);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 0 auto; */
  position: absolute;
  top: 50px;
  right: 105px;
  z-index: 4;
}



.nav_links {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 65%;
  transition: transform 0.5s;

  
}

.nav_links a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  transform: scale(1);
  transition: transform 0.3s;

}

.nav_links a:hover{
  transform: scale(1.2);
}

.header{
  width: 1920px;
  height: 960px;
  background: #FFC700;
  position: relative;
  /* z-index: -1; */
}

.header img{

display:block ;
padding: 260px 300px;
}
.header h1 {
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 10px 0;
text-align: center;
position: relative;
left: -50px;
margin-top:-80px ;
z-index: 0;
/* border: 1px solid red; */

}
.header .about {
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
position: relative;
left: -50px;
margin-top:-10px ;
}

.fix{
 position: fixed;
 bottom: 0;
 right: 0;
 z-index: 4;
 padding:0 20px 10px 0;
}
.item{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #1EBCC3;
  text-align: center;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

     
  
}
.fix a:nth-child(2) .item{
  background-color: #FFC700;
}
.fix a{
  text-decoration: none;
  /* border: 1px solid red; */
  font-size: 10px;
  font-family: "Open Sans";
  color: #FFF;
  font-weight: 700;
  
  
}

/*section--1st*/

.about_gather {
  background: #AEECEF;
  box-sizing: border-box;
  position: relative; /* 設置 .about_gather 為相對定位 */
}

.about_gather .pic {
  position: relative; /* 設置 .pic 為相對定位 */
  z-index: 3;
}

.about_gather .pic img {
  display: block;
  padding: 152px 494px 249px;
  position: relative;
  z-index: 2;
}

.about_gather .pic::after {
  content: "";
    width: 470.328px;
    height: 107.021px;
    background: #FFC700;
    transform: rotate(-90deg);
    position: absolute;
    top: 93%;
    left: 28%;
    transform-origin: top left;
    margin-top: -159px;
    margin-left: -95px;
    z-index: 1;
}
.about_gather .pic_bg_row::after {
  
  content: "";
  width: 470.328px;
  height: 107.021px;
  background: #FFC700;
  /* transform: rotate(90deg); */
  position: absolute;
  top: 80%;
  left: 28%;
  transform-origin: top left;
  margin-top: -129px;
  margin-left: -95px;
  z-index: 1;
}

.about_wrap img{
  position: absolute;
  top: 236px;
  left: 1000px;
}

.about_gather_txt{
  color: #05969C;
font-family: 'IBM Plex Sans Devanagari','Open Sans';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 416px;
height: 218.701px;
flex-shrink: 0;
}
.about_gather_txt{
  display: inline-block;
  position: absolute;
  top: 400px;
  left: 1000px;
  margin-top: -4px;
  
}
.about_gather_txt>div{
  padding-top: 41px;
}


/*section--2nd*/

section .shared_space{
  /* height: 960px; */
    padding-bottom: 217px;
}

.shared_space {
  box-sizing: border-box;
  position: relative; 
}

.shared_space .pic {
  position: relative; 
}

.shared_space .pic img {
  display: block;
  padding: 116px 909px 22px;
  position: relative;
  z-index: 2;
}

.shared_space_wrap img{
  display: block;
  margin: -395px 31px 38px 648px;
}

.shared_space_txt{
  color: #05969C;
    font-family: 'IBM Plex Sans Devanagari','Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 416px;
    height: 121px;
    flex-shrink: 0;
    display: block;
    margin: -20px 26px 65px 418px;
    text-align: end;
}
.dec{
  position: relative;
    /* top: 0; */
    /* left: 0; */
    margin: 237px 0px 0px -680px;
    z-index: 2;
}

/*section--3nd*/
.communities{
  
  height: 857px;
  background: #FFC700;
}

.communities .pic img {
  display: block;
  padding: 191px 425px 38px;
  position: relative;
  z-index: 3;
}

.communities_wrap img{
  display: block;
  margin: -317px 0px 288px 1091px;
  position: relative;
}

.marks{
  background: url(/img/上引號.svg);
}

.communitie_txt{
  color: #161515;
    font-family: 'IBM Plex Sans Devanagari','Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 334px;
    height: 114px;
    display: block;
    margin: -245px 26px 65px 1094px;
    
}
.communities_dec{
    position: relative;
    /* top: 0; */
    /* left: 0; */
    margin: 161px 0px 0px -582px;
    z-index: 2;
}

/*section--4th*/

.section_card{
  padding: 46px 0px 0px 523px;

}
.card{
  width: 333.864px;
  height: 261.96px;
  background-color: #1EBCC3; 
  margin: 4px 124px 140px 0px;
}
.margin_top{
  margin-top: 171px;
}

.txt h3{
  color: #FFF;
  font-family: 'IBM Plex Sans Devanagari', 'Open Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.txt p{
  color: #FFF;
  font-family: 'IBM Plex Sans Devanagari', 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.txt{
  text-align: center;
}
/* .pic img{
  display: block;
  margin: auto;
} */
.list{
  display: flex;
}


/*1st card*/

.hand_out_fram{
  position: relative;
  top: -34px;
  display: block;
  margin: auto;
}

.hand_aline{
  margin-top: 84px;
}
.hand_aline > p{
  padding-top: 20px;
}


/*2nd card*/
 .pic_out_fram{
  position: relative;
  top: -105px;
  display: block;
  margin: auto;
}

.txt ,.aline{
  margin-top: -86px;
}
.aline > p{
  padding-top: 15px;
}

/*3rd card*/
.cm_out_fram{
  position: relative;
  top: -105px;
  display: block;
  margin: auto;
}

.txt ,.cm_aline{
  margin-top: -86px;
}
.cm_aline > p{
  padding-top: 37px;
}


/*4th card*/
.brand_out_fram{
  position: relative;
  top: -89px;
  display: block;
  margin: auto;
}

.txt ,.brand_aline{
  margin-top: -86px;
}
.brand_aline > p{
  padding-top: 15px;
}
.brand_aline > h3{
  padding-top:25px ;
}

/*section_benefit*/
.section_benefit{
  position: relative;
}

.yellow_frm{
  padding: 0px 30px 281px 423px;
}
.bft_list{
  position: absolute;
  top: 253px;
  left: 730px;
  /* z-index: 3; */

}
.benefit_txt_wrap {
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 30px 0px 4px;
}
.benefit_txt_wrap > * {
  margin: 0 5px;
}
.text{
  color: #1EBCC3;
  font-family: 'IBM Plex Sans Devanagari', 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column; /* 垂直排列子元素 */
  align-items: center; /* 水平居中对齐 */
  margin: 10px;
}
.text p {
}
.sub{
  color: #1EBCC3;
  font-family: 'IBM Plex Sans Devanagari', 'Open Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.num{
  color: #1EBCC3;
  font-family:'IBM Plex Sans Devanagari', 'Open Sans';
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.arrow_icon{
  align-items: center;
}

/*footer*/
.footer{
    width: 1920px;
    height: 761px;
    background: #FFD234;
    position: relative;
    
  
  }
  .blue_ar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .blue_ar_email {
    position: absolute; 
    right: 520px; 
    bottom: 200px;
    /* border: 1px solid red;  */
  
  }
  .blue_ar{
    position: absolute; 
    bottom: 0;
    margin: 36px 353px 0px 974px;
    width: 593px;
    height: 724px;
    background: #AEECEF;
    border-radius: 593px 593px 0 0;
  }
  
  .blue_ar_title{
    font-family: 'open sans';
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    left: 115px;
    top:175px
  }
  .blue_ar_title>span{
    display: block;
    margin-top: 10px;
  }
  .blue_ar_email form {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .blue_ar_email input[type="text"] {
    width: 254px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 61px; 
    /* color: #1EBCC3; */
  }
  ::placeholder{
    color: #1EBCC3;
  }
  /* Style the submit button */
  .blue_ar_email input[type="submit"] {
    width: 166px;
    height: 62px;
    padding: 10px;
    margin: 5px;
    background-color: #FFF;
    color: #1EBCC3;
    border: none;
    border-radius: 61px; 
    cursor: pointer;
  }
  .blue_ar_email input[value="SUBMIT"]{
    font-family: 'open sans';
    font-size: 20px;
  }
  .blue_ar_email input[name="email"]{
    font-size: 20px;
    padding-left: 50px;
   
  }
  
  
  .footer_container{
        position: absolute;
        right: 1400px;
        bottom: 300px;
     
    
  }
  
  
  .footer_link a{
    /* margin: 299px 1388px 439px 255px  ; */
    padding: 17px;
    display: block;
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 700;
  }
  .line{
    width: 515.633px;
    border-bottom: 1px solid #000;
    position: absolute;
        left:390px;
        bottom: 200px;
  }
  .tel , .address{
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400; 
  }
  .footer_info{
    position: absolute;
    left:390px;
    bottom: 60px;
  }
  .social_media_icon{
    position: absolute;
    left:750px;
    bottom: 150px;
  }
  
  .social_media_icon>a{
    padding: 6px;
  }