body {
  overflow-x: hidden;
}
.header{
width: 1920px;
height: 960px;
background: #FFC700;
position: relative;
}


.header h1 {
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 10px 0;
text-align: center;
position: relative;
left: 30px;
margin-top:-150px ;
z-index: 0;
/* border: 1px solid red; */

}
.header .activity {
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
position: relative;
left: 30px;
margin-top:-10px ;

/* border: 1px solid red; */
}

.nav {
  width: 1676.887px;
  height: 100px;
  border-radius: 100px;
  background: rgba(30, 188, 195, 0.79);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 0 auto; */
  position: absolute;
  top: 50px;
  right: 105px;
  z-index: 4;
}



.nav_links {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 65%;
  
}

.nav_links a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}


.fix{
 position: fixed;
 bottom: 0;
 right: 0;
 z-index: 4;
 padding:0 20px 10px 0;
}
.item{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #1EBCC3;
  text-align: center;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

     
  
}
.fix a:nth-child(2) .item{
  background-color: #FFC700;
}
.fix a{
  text-decoration: none;
  /* border: 1px solid red; */
  font-size: 10px;
  font-family: "Open Sans";
  color: #FFF;
  font-weight: 700;
  
  
}

.marquee-text {
display: inline-block;
white-space: nowrap;
animation: marquee 10s linear infinite;
position: absolute;
bottom: 260px;
}

@keyframes marquee {
0% {
  transform: translateX(100vw);
}
100% {
  transform: translateX(-100vw);
}
}

.marquee-container {
  width: 100%; /* 跑马灯容器的宽度，根据您的需求调整 */
  overflow: hidden; /* 隐藏超出容器的内容 */
}

.marquee-content {
  white-space: nowrap; 
  /* animation: marquee 10s linear infinite; */
}



/*section*/


/* .activity_title> span{
margin-top: 70px;
display: block;
text-align: center;
font-family: 'Open Sans';
font-size: 30px;
font-style: normal;
font-weight: 700;
color: #000;
} */

#topics_area{
	margin:0 10px;
}
 #topics_area .topics_year{
	/* border-bottom:1px solid #ccc; */
	margin-bottom: 56px;
}
 #topics_area .topics_year dt, .topics_year dd{
	float:left;
	padding:0;
	height:42px;
	color:#333;
}
 #topics_area .topics_year dt{
	font-size:18px;
	font-weight: bold;
	color:#000000;
	letter-spacing:0.2em;
	width:95px;
	text-align:center;
	background: url(/img/dash活動.svg) no-repeat right top;
	margin-right: 15px;
	padding-top:5px;
}
 #topics_area .topics_year dd{
	width:66px;
	background:url(/img/活動直線.svg) no-repeat right top;
	text-align:center;
	font-size:16px;
}
 #topics_area .topics_year dd:last-child{
	width:66px;
	background:none;
	text-align:center;
	font-size:16px;
}
 #topics_area .topics_year dd:hover{
	display:block;
	background:url(/img/活動對話.png) no-repeat center top;
	color:#fff;
}
 #topics_area .topics_year dd.active{
	display:block;
	/* height: 37px; */
	/* padding-top: 5px; */
	background:url(/img/活動直線.svg) no-repeat center top;
	color:#fff;
}
 #topics_area .topics_year dd.active a{
	display:block;
	margin:0;
	padding:0;
	color:#000000;
}
 #topics_area .topics_year dd a{
	display: block;
	text-decoration: none;
	height: 37px;
	padding-top: 5px;
}
 #topics_area .topics_year dd a:hover{
	color:#fff;
	text-decoration: none;
}

 #topics_area .topics_month{
	margin-bottom: 125px;
}
 #topics_area .topics_month dt, .topics_month dd{
	float:left;
	padding:0;
	height:42px;
	color:#333;
}
 #topics_area .topics_month dt{
	font-size:18px;
	font-weight: bold;
	color:#000000;
	width:95px;
	text-align:center;
	background: url(/img/dash活動.svg) no-repeat right top;
	/* margin-right: 15px;
	padding-top:5px; */
}
 #topics_area .topics_month dd{
	width:66px;
	background:url(/img/活動直線.svg) no-repeat right top;
	text-align:center;
	font-size:16px;
}
 #topics_area .topics_month dd:last-child{
	width:66px;
	background:none;
	text-align:center;
	font-size:16px;
}
 #topics_area .topics_month dd:hover{
	display:block;
	background:url(/img/活動對話.png) no-repeat center top;
	color:#fff;
}
 #topics_area .topics_month dd.active{
	display:block;
	height: 37px;
	padding-top: 5px;
	background:url(/images/topics/common/topics_active.png) no-repeat center top;
	color:#fff;
}
 #topics_area .topics_month dd.active a{
	display:block;
	margin:0;
	padding:0;
	color:#000000;
  text-decoration: none;
}
  .topics_month dd a{
	display: block;
	text-decoration: none;
	height: 37px;
	padding-top: 5px;
}
 .topics_month dd a:hover{
	color:#fff;
	text-decoration: none;
}


 #topics_area table.topics_deta{
	border-collapse: collapse;
	width:100%;
	margin-bottom:20px;
}
 #topics_area table.topics_deta tr:nth-child(even){
	background:#fff;
}
 #topics_area table.topics_deta tr:nth-child(odd){
	background:#F6F6F6;
}
 #topics_area table.topics_deta tr.pressline:hover{
	background:#E5ECF3;
}
 #topics_area table.topics_deta tr.medialine:hover{
	background:#FFEEE5;
}
 #topics_area table.topics_deta tr.infoline:hover{
	background:#E5F0F1;
}
 #topics_area table.topics_deta td{
	padding:15px 0;
}
 #topics_area table.topics_deta td.topics_date{
	width:85px;
	padding-left: 15px;
    color: #000;
    font-family: Hubballi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 #topics_area table.topics_deta td.topics_category{
	width:120px;
	padding:10px 10px;
	text-align:center;
	color:#fff;
}
 #topics_area table.topics_deta td.topics_category .residents{
    width: 219px;
    font-size: 12px;
    display: block;
    padding: 1px 0;
    margin: 0 0 5px 0;
    border-radius: 10px;
    background: #FFD234;
    color: #FFF;
    font-family: IBM Plex Sans Devanagari;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.225px;
}
 #topics_area table.topics_deta td.topics_category .property{
    font-size: 12px;
    width: 200px;
    display: block;
    padding: 1px 10px;
    margin: 0 0 5px 0;
    border-radius: 10px;
    background: #AEECEF;
    color: #009198;
    font-family: IBM Plex Sans Devanagari;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.225px;
}

 #topics_area table.topics_deta td.topics_category .anyone{
    font-size: 12px;
    width: 218px;
    display: block;
    padding: 1px 0;
    font-size: 12px;
    margin: 0 0 5px 0;
    border-radius: 10px;
    background: #1EBCC3;
    color: #FFF;
    font-family: 'IBM Plex Sans Devanagari';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.225px;
}
 #topics_area table.topics_deta td.topics_title{
	padding:0 15px;
}
 #topics_area table.topics_deta td.topics_title:before{
	content:url('/img/活動table按鈕.svg');
	display:inline-block;
	vertical-align: middle;
}

.topics_title a{
  text-decoration: none;
  color: #000;
  font-family:'IBM Plex Sans Devanagari';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}


#topics_area{
      margin: auto;
      padding-top: 130px;
      max-width: 150vh;
}

.activity_doc{
    position: relative;
    top: -3px;
    left: 272px;
    transform: scale(.7);
}
 



/*footer*/
.footer{
width: 1920px;
height: 761px;
background: #FFD234;
position: relative;


}
.blue_ar_container{
display: flex;
justify-content: space-between;
align-items: center;
}
.blue_ar_email {
position: absolute; 
right: 520px; 
bottom: 200px;
/* border: 1px solid red;  */

}
.blue_ar{
position: absolute; 
bottom: 0;
margin: 36px 353px 0px 974px;
width: 593px;
height: 724px;
background: #AEECEF;
border-radius: 593px 593px 0 0;
}

.blue_ar_title{
font-family: 'open sans';
font-size: 40px;
font-weight: 700;
position: absolute;
left: 115px;
top:175px
}
.blue_ar_title>span{
display: block;
margin-top: 10px;
}
.blue_ar_email form {
display: flex;
flex-direction: column;
align-items: start;
}

.blue_ar_email input[type="text"] {
width: 254px;
height: 50px;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 61px; 
/* color: #1EBCC3; */
}
::placeholder{
color: #1EBCC3;
}
/* Style the submit button */
.blue_ar_email input[type="submit"] {
width: 166px;
height: 62px;
padding: 10px;
margin: 5px;
background-color: #FFF;
color: #1EBCC3;
border: none;
border-radius: 61px; 
cursor: pointer;
}
.blue_ar_email input[value="SUBMIT"]{
font-family: 'open sans';
font-size: 20px;
}
.blue_ar_email input[name="email"]{
font-size: 20px;
padding-left: 50px;

}


.footer_container{
    position: absolute;
    right: 1400px;
    bottom: 300px;
 

}


.footer_link a{
/* margin: 299px 1388px 439px 255px  ; */
padding: 17px;
display: block;
text-decoration: none;
color: #000;
font-family: 'Open Sans';
font-size: 30px;
font-weight: 700;
}
.line{
width: 515.633px;
border-bottom: 1px solid #000;
position: absolute;
    left:390px;
    bottom: 200px;
}
.tel , .address{
font-family: 'Zen Maru Gothic', sans-serif;
color: #000;
font-size: 16px;
font-weight: 400; 
}
.footer_info{
position: absolute;
left:390px;
bottom: 60px;
}
.social_media_icon{
position: absolute;
left:750px;
bottom: 150px;
}

.social_media_icon>a{
padding: 6px;
}