*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav {
    margin: 0;
    padding: 0;
    width: 1676.887px;
    height: 100px;
    border-radius: 100px;
    background: rgba(30, 188, 195, 0.79);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 0 auto; */
    position: absolute;
    top: 50px;
    right: 105px;
    z-index: 4;
}

.nav_links {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 65%;
    
}

.nav_links a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}


.house-card-wrap{
    display: flex;
    position: relative;
    top: -2454px;
    left: 366px;
}


.house-title-and-basic{
    justify-content: center;
    align-content: center;
}

.house-basic{
    width: 100px;
    display: flex;
}


.house_bg{
    width: 1055.818px;
    height: 2701px;
    background: #13ADB4;
}

.city{
    width: 280.133px;
    height: 44.846px;
    border-radius: 61px;
    background: #fff;
    top: 10px;
    position: relative;
    top: -2501px;
    left: 366px;
}
.city::before{
    content:'不限城市' ;
    color: #1EBCC3;
    font-family: 'Hammersmith One', sans-serif,'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 10px;
    margin: 0px 63px 0px 100px;
}
.city img{
    display: flex;
    top: 10px;
    margin: -4px 0px 0px 244px;
}
.area{
    width: 280.133px;
    height: 44.846px;
    border-radius: 61px;
    background: #fff;
    top: 10px;
    position: relative;
    top: -2546px;
    left: 669px;
}
.area::before{
    content: '不限區';
    color: #1EBCC3;
    font-family: 'Hammersmith One', sans-serif,'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 10px;
    left:10px;
    margin: 0px 63px 0px 100px;
}
.area img{
    display: flex;
    top: 10px;
    margin: -4px 0px 0px 244px;
}
.room{
    width: 280.133px;
    height: 44.846px;
    border-radius: 61px;
    background: #fff;
    top: 10px;
    position: relative;
    top: -2528px;
    left: 366px;
}
.room::before{
    content: '不限房型';
    color: #1EBCC3;
    font-family: 'Hammersmith One', sans-serif,'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 10px;
    margin: 0px 63px 0px 100px;
}
.room img{
    display: flex;
    top: 10px;
    margin: -4px 0px 0px 244px;
}
.room_num{
    width: 280.133px;
    height: 44.846px;
    border-radius: 61px;
    background: #fff;
    top: 10px;
    position: relative;
    top: -2573px;
    left: 670px;
}
.room_num::before{
    content: '不限房間數';
    color: #1EBCC3;
    font-family: 'Hammersmith One', sans-serif,'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 10px;
    margin: 0px 63px 0px 100px;
}
.room_num img{
    display: flex;
    top: 10px;
    margin: -4px 0px 0px 244px;
}

.house_click_list h3{
    color: #fff;
    font-family: ' IBM Plex Sans Devanagari';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.2px;
    position: relative;
    top: -2542px;
    left: 380px;
}

.date{
    width: 280.133px;
    height: 44.846px;
    border-radius: 61px;
    background: #fff;
    top: 10px;
    position: relative;
    top: -2528px;
    left: 364px;
}
.date::before{
    content: '不限房間數';
    color: #1EBCC3;
    font-family: 'Hammersmith One', sans-serif,'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 10px;
    margin: 0px 63px 0px 100px;
}
.date img{
    display: flex;
    top: 10px;
    margin: -4px 0px 0px 244px;
}

.scroll_bar{
    display: block;
    position: relative;
    top: -2477px;
    left: 352px;
}


.search_btn{
    width: 130px;
    position: relative;
    top: -2529px;
    left: 876px;
    z-index: 1;
  }
  .search_btn > a{
    display: block;
    text-align: center; 
    background-color: #f9f9f9;
    color: #1EBCC3; 
    padding: 10px 0;
    text-decoration: none;
    border-radius: 60px 60px 60px 60px;
    font-family: 'Noto Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }


  .googlemap-container {
    float: right;
    /* width: 50%; 設置 Google 地圖容器的寬度為左側內容的一半 */
  }


/*回首頁圈圈*/

.fix{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 4;
    padding:0 20px 10px 0;
   }
   .item{
     display: block;
     width: 50px;
     height: 50px;
     border-radius: 50px;
     background-color: #1EBCC3;
     text-align: center;
     margin: 20px 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   .fix a:nth-child(2) .item{
     background-color: #FFC700;
   }
   .fix a{
     text-decoration: none;
     /* border: 1px solid red; */
     font-size: 10px;
     font-family: "Open Sans";
     color: #FFF;
     font-weight: 700;
   }

/*footer*/
.footer{
    width: 1920px;
    height: 761px;
    background: #FFD234;
    position: relative;
    bottom: 0;
    left:0;
    
    
    }
    .blue_ar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .blue_ar_email {
    position: absolute; 
    right: 520px; 
    bottom: 200px;
    /* border: 1px solid red;  */
    
    }
    .blue_ar{
    position: absolute; 
    bottom: 0;
    margin: 36px 353px 0px 974px;
    width: 593px;
    height: 724px;
    background: #AEECEF;
    border-radius: 593px 593px 0 0;
    }
    
    .blue_ar_title{
    font-family: 'open sans';
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    left: 115px;
    top:175px
    }
    .blue_ar_title>span{
    display: block;
    margin-top: 10px;
    }
    .blue_ar_email form {
    display: flex;
    flex-direction: column;
    align-items: start;
    }
    
    .blue_ar_email input[type="text"] {
    width: 254px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 61px; 
    /* color: #1EBCC3; */
    }
    ::placeholder{
    color: #1EBCC3;
    }
    /* Style the submit button */
    .blue_ar_email input[type="submit"] {
    width: 166px;
    height: 62px;
    padding: 10px;
    margin: 5px;
    background-color: #FFF;
    color: #1EBCC3;
    border: none;
    border-radius: 61px; 
    cursor: pointer;
    }
    .blue_ar_email input[value="SUBMIT"]{
    font-family: 'open sans';
    font-size: 20px;
    }
    .blue_ar_email input[name="email"]{
    font-size: 20px;
    padding-left: 50px;
    
    }
    
    
    .footer_container{
        position: absolute;
        right: 1400px;
        bottom: 300px;
     
    
    }
    
    
    .footer_link a{
    /* margin: 299px 1388px 439px 255px  ; */
    padding: 17px;
    display: block;
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 700;
    }
    .line{
    width: 515.633px;
    border-bottom: 1px solid #000;
    position: absolute;
        left:390px;
        bottom: 200px;
    }
    .tel , .address{
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400; 
    }
    .footer_info{
    position: absolute;
    left:390px;
    bottom: 60px;
    }
    .social_media_icon{
    position: absolute;
    left:750px;
    bottom: 150px;
    }
    
    .social_media_icon>a{
    padding: 6px;
    }
