
body{
    margin: auto; 
    padding: 0;
}
 nav {
    width: 100%;
    /* height: 6.25rem;  */
    border-radius: 60px 60px 60px 60px;
    background: rgba(30, 188, 195, 0.50);
    margin: auto;    
    position: absolute;
    top: 15px;
}




.nav_links {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.5s; 
}

.nav_links a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    transform: scale(1);
    transition: transform 0.3s; 
}

.nav_links a:hover{
    transform: scale(1.2); 
}    

header{
    margin: auto;
    max-width: 1920px;
    height: ;
    /* position: relative; */
    
}



.mask-img{
    display: block;
    width: 100%;
    margin: auto;
}

 header .title {
    display: flex;
    justify-content: center;
    align-content: center;
    /* position: relative; */
    /* top: -34vh; */
    text-align: center;
    line-height: normal;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 700;
    text-shadow: 2px 2px 5px #4d4d4d;
} 

.booknow_btn{
    width: 342px;
    margin: auto;
    /* position: absolute; */
    /* bottom: 14%; */
    /* left: 50%; */
    transform: translateX(-50%); 
  } 

  
 .booknow_btn > a{
    display: block;
    text-align: center; 
    background-color: #1EBCC3;
    color: white; 
    padding: 10px 0;
    text-decoration: none;
    border-radius: 60px 60px 60px 60px;
    font-family: 'Noto Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: scale(1);
    transition: transform 0.3s;
  }

  .booknow_btn > a:hover{
    transform: scale(1.2);
  }


/* section we are gather living */

.column_section {
    margin: auto;
    max-width: 1200px;
    height: 700px;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
}

.column_left {
    flex: 1; 
}

.column_right {
    flex: 1; 
}


.weare_img_container{
    width: 100%;
    /* background: #1EBCC3; */
}

.weare_img_container img{
    display: flex;
    transform: scale(.8);
    justify-content: flex-start;
    align-content: stretch;
    margin: auto;
    justify-content: center;
}
.weare_txt_container{
}
.weare_txt_container h2{
    color: #05969C;
    font-family: 'Modak', cursive;
    font-size: 55px;
}

.weare_txt_container > p{
    margin-top: 15px;
    color: #05969C;
    font-family: 'IBM Plex Sans Devanagari','Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.weare_txt_container > p > span{
    margin-top: 20px;
    display: inline-block;
}

.about_btn{
    width: 166px;
  }

.about_btn > a{
    display: block;
    text-align: center; 
    background-color: #1EBCC3;
    color: white; 
    padding: 10px 0;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 60px 60px 60px 60px;
    font-family: 'Noto Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

.rectangle {
    
}


  /* section our valu */

 .cols {
    display: flex;
    height: 600px;
    background-color: #FFC700;
} 

.cols_container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between; /* This will create space between col_left and col_right */
    align-items: center; /* Align items vertically in the middle */
}

.col_right img {
    /* Add your styles for the image here */
}

/* .our_container {
    margin: auto;
    max-width: 1920px;
    height: 700px;
    background-color: #FFC700;
} */

.col_left {
    /* width: 600px; */
}

.our_txt_wrap h2 {
    color: #ffff;
    font-family: 'Modak', cursive;
    font-size: 55px;
    margin-bottom: 10px;}

.our_txt_wrap p {
    padding: 3px;
    font-family: 'IBM Plex Sans Devanagari','Open Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}
.our_txt_wrap{
    width: 450px;
    /* height: 430px; */
}




/* section whats-co*/

.whats_co{
    height: 600px;
}

.whats_co_container{
    max-width: 1300px;
    margin: auto;
    display: flex;
}

.left-col {
    /* transform: scale(1); */

  }

  
.right-col {
    margin: auto;
  }

.whats-co-txt{
    width: 350px;
    margin: auto;
  }

.whats-co-txt h2{
    color: #FFC700;
    font-family: 'Modak', cursive;
    font-size: 55px;
    margin-bottom: 10px;
}

.whats-co-txt p{
    font-family: 'IBM Plex Sans Devanagari','Open Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}


.blog_btn{
    width: 166px;
    margin: 20px 0 0 0;
  }
  .blog_btn > a{
    display: block;
    text-align: center;
    background-color: #1EBCC3;
    color: #ffffff;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 60px 60px 60px 60px;
    font-family: 'Noto Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /*card-list*/

  .card .pic{
    display: flex;
    justify-content: center;
    transform: scale(.8);

  }

  .card_section {
    max-width: 1300px;
    /* height: 600px; */
    margin: 0 auto;
    /* padding: 20px; */
  }
  
  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); /* Use auto-fit and 1fr to create a flexible layout */
    gap: 0; /* Add some spacing between the cards */
  }
  
  .card {
    grid-column: span 2; /*  rwd grid-column: 1 / 3; */
    background-color: #FFD234;
    padding: 20px;
  }
  
  /* Add styles for pic, card_line, txt, h2, h3, and p elements as needed */
  
  .txt{
    color: #191919;
    font-family: 'IBM Plex Sans Devanagari','Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }

  .txt h2{
    padding: 10px 0 0 0;
    font-weight:600 ;
  }
  .txt p{

    padding: 10px 0 0 0;
  }

  .end_pic{
    width: 100%;
    /* height: 600vh; */
  }
.end_pic img{
  display: block;
  margin: auto;
  transform: scale(0.7);
}

  /*footer*/
 .footer{
    max-width: 1920px;
    /* height: 760px; */
    background: #FFD234;
    position: relative;
    }
    .footer::before{
      content: '';
      position: absolute;
      right: 5%;
      bottom: 0;
      width: 593px;
      height: 724px;
      background: #AEECEF;
      border-radius: 593px 593px 0 0;
    }

    .blue_ar_container{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    }
    .blue_ar_email {
    
    }
    .blue_ar{
    /* width: 593px; */
    /* height: 724px; */
    /* background: #AEECEF; */
    /* border-radius: 593px 593px 0 0; */
    }
    
    .blue_ar_title{
    font-family: 'open sans';
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20%;
    }
    .blue_ar_title>span{
    /* display: block;
    margin-top: 10px; */
    }
    .blue_ar_email form {
      /* position: relative; */
      /* z-index: 1; */
      /* top:300%; */
      /* right:80%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: start; */
    }
    
    .blue_ar_email input[type="text"] {
    width: 254px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #AEECEF;
    border-radius: 61px; 
    }
    ::placeholder{
    color: #1EBCC3;
    }

    .blue_ar_email input[type="submit"] {
    width: 166px;
    height: 62px;
    padding: 10px;
    margin: 5px;
    background-color: #FFF;
    color: #1EBCC3;
    border: none;
    border-radius: 61px; 
    cursor: pointer;
    }
    .blue_ar_email input[value="SUBMIT"]{
    font-family: 'open sans';
    font-size: 20px;
    }
    .blue_ar_email input[name="email"]{
    font-size: 20px;
    padding-left: 50px;
    
    }
    
    
    .footer_container{
      /* display: grid;
      grid-template-rows: 1fr 1fr; 
      grid-gap: 10px;  */
    }
    
    
    .footer_link a{
    padding: 17px;
    display: block;
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 700;
    }
    .line{
    width: 515.633px;
    border-bottom: 1px solid #000;
    }

    .tel , .address{
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400; 
    }
    .footer_info{
    }
    .social_media_icon{
    }
    
    .social_media_icon>a{
    } 