
body{
    margin: auto; 
    padding: 0;
}

/*header*/

header{
  margin: auto;
  max-width: 1920px;
  position: relative;
}

.mask-img {
  width: 100%; /* 可以根據你的需求調整 */
  height: auto; /* 可以根據你的需求調整 */
}

.booknow_btn {
  position: absolute;
  top: 93%;
  left: 49%; 
  transform: translate(-50%, -50%); 
}

.title{
  position: absolute;
  top: 50%;
  left: 49%; 
  transform: translate(-50%, -50%); 
}


header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgba(30, 188, 195, 0.50);
    margin: auto;    
    position: absolute;
    top: 0;
    z-index: 1;
}

/* .menu{
  width: 100%;
  background: rgba(30, 188, 195, 0.50);
  margin: auto;    
  position: absolute;
  top: 15px;
} */
.menu_item{
  display: block;
  width: 50px;
  text-align: center;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu_item a{
  text-decoration: none;
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  transform: scale(1);
  transition: transform 0.3s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.5s; 
}

.nav_links {
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.5s; 
}

.nav_links a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  transform: scale(1);
  transition: transform 0.3s; 
}

.nav_links a:hover{
  transform: scale(1.2); 
}      





.mask-img{
    /* display: block; */
    width: 100%;
    margin: auto;
    /* position: relative; */
}

 header .title {
    display: flex;
    justify-content: center;
    align-content: center;
    /* position: absolute; */
    /* top: -34vh; */
    text-align: center;
    line-height: normal;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 700;
    text-shadow: 2px 2px 5px #4d4d4d;
} 

.booknow_btn{
    width: 342px;
    margin: auto;

  } 

  
 .booknow_btn > a{
    display: block;
    text-align: center; 
    background-color: #1EBCC3;
    color: white; 
    padding: 10px 0;
    text-decoration: none;
    border-radius: 60px 60px 60px 60px;
    font-family: 'Noto Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: scale(1);
    transition: transform 0.3s;
  }

  .booknow_btn > a:hover{
    transform: scale(1.2);
  }


  .m-menu,
  .hamburger {
      display: none;
  }
  
  .content {
    position: relative;
    margin: auto;
}

.content .logo {
    width: 180px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-block: 10px;
}

/* section we are gather living */

.column_section {
    margin: auto;
    max-width: 1200px;
    /* height: 700px; */
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
}

.column_left {
    flex: 1; 
}

.column_right {
    flex: 1; 
}


.weare_img_container{
    width: 100%;
    /* background: #1EBCC3; */
}

.weare_img_container img{
    display: flex;
    transform: scale(.8);
    justify-content: flex-start;
    align-content: stretch;
    margin: auto;
    justify-content: center;
}

.weare_txt_container h2{
    color: #05969C;
    font-family: 'Modak', cursive;
    font-size: 55px;
}

.weare_txt_container > p{
    margin-top: 15px;
    color: #05969C;
    font-family: 'IBM Plex Sans Devanagari','Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.weare_txt_container > p > span{
    margin-top: 20px;
    display: inline-block;
}

.about_btn{
    width: 166px;
    margin: auto;
  }

.about_btn > a{
    display: block;
    text-align: center; 
    background-color: #1EBCC3;
    color: white; 
    padding: 10px 0;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 60px 60px 60px 60px;
    font-family: 'Noto Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

.item{
  display: block;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


  /* section our valu */

 .cols {
    display: flex;
    /* height: 600px; */
    background-color: #1EBCC3;
} 

.cols_container {
    margin: auto;
    padding: 30px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between; /* This will create space between col_left and col_right */
    align-items: center; /* Align items vertically in the middle */
}



/* .our_container {
    margin: auto;
    max-width: 1920px;
    height: 700px;
    background-color: #FFC700;
} */

.col_left {
    /* width: 600px; */
}

.our_txt_wrap h2 {
    color: #ffff;
    font-family: 'Modak', cursive;
    font-size: 55px;
    margin-bottom: 10px;}

.our_txt_wrap p {
    padding: 3px;
    font-family: 'IBM Plex Sans Devanagari','Open Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    color: #FFF;
}
.our_txt_wrap{
    width: 450px;
    /* height: 430px; */
}




/* section whats-co*/

.whats_co{
    /* height: 600px; */
}

.whats_co_container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.left-col {
    /* transform: scale(1); */

  }

  
.right-col {
    margin: auto;
    padding: 30px;
  }

.whats-co-txt{
    width: 350px;
    margin: auto;
  }

.whats-co-txt h2 {
    color: #FFC700;
    font-family: 'Modak', cursive;
    font-size: 55px;
    margin-bottom: 10px;
}
.h2_wrap{
  display: inline-block;
  margin: auto;
}
.h2_wrap h2{
  color: #1EBCC3;
  font-family: 'Modak', cursive;
  font-size: 55px;
}

.whats-co-txt p{
    font-family: 'IBM Plex Sans Devanagari','Open Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}


.blog_btn{
    width: 166px;
    margin: 20px 0 0 0;
  }
  .blog_btn > a{
    display: block;
    text-align: center;
    background-color: #1EBCC3;
    color: #ffffff;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 60px 60px 60px 60px;
    font-family: 'Noto Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }






  /*card-list*/

  .card .pic{
    display: flex;
    justify-content: center;
    transform: scale(.8);

  }

  .card_section {
    max-width: 1200px;
    /* height: 600px; */
    margin: 0 auto;
    /* padding: 20px; */
  }
  
  .card-list {
    display: flex;
    flex-direction: row;
  }
  
  .card {
    /* grid-column: span 2; */
    background-color: #FFD234;
    padding: 100px;
  }
  
  /* Add styles for pic, card_line, txt, h2, h3, and p elements as needed */
  
  .txt{
    color: #191919;
    font-family: 'IBM Plex Sans Devanagari','Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }

  .txt h2{
    padding: 10px 0 0 0;
    font-weight:600 ;
  }
  .txt p{
    padding: 10px 0 0 0;
  }

.friendly_section{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
  
.left-col{
  /* padding: 30px; */
}

.right_col{
  transform: scale(.8);

}



 

    @media screen and (max-width: 767px) {

   
      .booknow_btn{
      width: 100px;
      }
   
      .booknow_btn a{
       font-size: 12px;
      }
      
      .cols_container ,.column_section{
       flex-wrap: wrap;
       padding-bottom: 30px;
      }
      .card-list{
       flex-direction: column;
   
      }

      .friendly_section {
        flex-direction: column;
      }

      .left-col img{
        transform: scale(.8);
        margin-left: 0;

      }
      .right_col{
        transform: scale(.8);

      }

      .menu {
        display: none;
    }

    .m-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #1EBCC3;
        padding: 10px;
        inset: 0;
        top: 100%;
        left: -120%;
        height: calc(100vh - 89px);
        width: 100%;
        transition: 0.3s;
        border-top: 2px solid #fff;
        /* display: none; */
    }

    .m-menu a {
        margin-block: 10px;
        padding-inline: 10px;
        padding-bottom: 20px;
        color: #fff;
        border-bottom: 2px solid #fff;
    }

    .m-menu.active {
        left: 0;
    }

    .content .logo {
        /* position: absolute; */
        width: 130px;
        top: 5px;
        left: 8px;
        margin: 0
    }

    .header-group {
        position: absolute;
        right: 15%;
        top: 20px;
    }


    .hamburger {
        display: block;
        cursor: pointer;
        padding: 20px;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin-block: 10px;
        margin-left: 92%;
        transition: all 0.3s ease-in-out;
        background-color: #AEECEF;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        translate: 0px 13px;
        rotate: 45deg;
    }

    .hamburger.active .bar:nth-child(3) {
        translate: 0px -13px;
        rotate: -45deg;
    }
      
     }